:root {
  --background: 0 0% 100%; /* light bg */
  --foreground: 224 71% 4%; /* light text */
}
.dark {
  --background: 224 71% 4%; /* dark bg */
  --foreground: 210 20% 98%; /* dark text */
}
body {
  @apply bg-background text-foreground;
}

/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
* {
  font-family: "Geist", sans-serif;
}
